<a href="https://colab.research.google.com/github/gurramkarthik2244/Projects/blob/main/codegnan%20python%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Day -1
# hello world
print("hello world !")

hello world !

In [ ]:
# day -2
# numeric data types
int_var = 23
float_var = 123.5
complex_var = 5+7j
print(int_var,float_var,complex_var,sep = "- ", end= '')
print(int_var)
print(float_var)
print(complex_var)

23- 123.5- (5+7j)23
123.5
(5+7j)

In [ ]:
# sequnce data type
str_var ="karthik"
list_var =[1,2,3,"karthik"]
tuple_var = (4,5,6,"karthik")
print(str_var)
print(list_var)
print(tuple_var)

karthik
[1, 2, 3, 'karthik']
(4, 5, 6, 'karthik')

In [ ]:
# unordered data type
set_var ={1,2,3,4,5}
frozenset_var =({6,7,7,8,9})
print(set_var)
print(frozenset_var)

{1, 2, 3, 4, 5}
{8, 9, 6, 7}

In [ ]:
# mapping data type
{ "name ": "karthik",
   "password":"klklklk"}

{'name ': 'karthik', 'password': 'klklklk'}

In [ ]:
from re import T
is_active = True
is_active = False
print(is_active)

False

In [ ]:
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

In [ ]:
a =5
b = 7
print(a,b)
a,b = b,a
print(a,b)
del a
print(a)

5 7
7 5

NameError: name 'a' is not defined

In [ ]:
#  day3:
# arithmetic operators
a=10
b=5
c=a+b
print(c)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
15
5
50
2.0
2
0
100000

In [ ]:
# relational operators
a=45
b=30
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [ ]:
# day 4 : logical operators
# weight and height of a person
weight = 50
height = 175
eligible = weight > 50 and height > 160
print(eligible)

False

In [ ]:
# logical and (both conditions are true o/p will be true otherwise false)
weight = 80
height = 179
fit = weight > 60 and height > 170
print(fit)

True

In [ ]:
# logical or (  any one condition is true o/p will be true )
weight = 45
height = 170
fit = weight > 40 or height > 180
print(fit)

True

In [ ]:
# logical not
weight = 45
height = 165
fit  = weight !=50
print(fit)

True

In [ ]:
# assignment operators :(=,+=,-=, *=,/=,//=,%=,**=)
a = 10
print(a)
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)
a //= 10
print(a)
a %= 10
print(a)
a **= 10
print(a)

10
20
10
100
10.0
1.0
1.0
1.0

In [ ]:
# task1 : write a prgm  for square root of a given number
number = int(input())
square_root = number ** 0.5
print(square_root)

In [ ]:
# pratice task 1:
num = int(input())
square_root = num ** 0.5
print(square_root)

100
10.0

In [ ]:
#  task2: write a prgm to check if the product of two numbwers is equal to sum
num1 = int(input())
num2 = int(input())
product = num1 * num2
sum = num1 + num2
if product == sum:
  print("product and sum of two numbers are equal ")
else:
  print("product and sum of two numbers are not equal")

5
6
product and sum of two numbers are not equal

In [ ]:
# task 2 : pratice
num1 = 5
num2 = 10
product = num1 * num2
sum = num1 + num2
if product == sum:
  print("product and sum are equal")
else:
  print("not equal")

not equal

In [ ]:
# pgm to write a number within in a range
num = int(input())
if num > 300 and num <= 500 :
  print("True")
else:
  print("False")

600
False

In [ ]:
#day 6:
# membership opertaor(in,not in)
a = [1,2,4,56,6] # list
print(56 in a)
print(100 not in a)
a1 = "karthik" # string
print("i" in a1)
print("i" not in a1)

True
True
True
False

In [ ]:
# identity operators (is , is not)
a = 50
b = 54
print(a is b)
print(a is not b)
# for list
a = [1,2,3]
b = [1,2,3]
print(a is b)
print(a is not b)

False
True
False
True

In [ ]:
 # bitwise operator(&,|,~,^,<<,>>)
 a = 10
 b = 5
 print(a & b) # both conditions are 1 returns 1 else 0
 print(a | b) # any one condition is 1 returns 1 else 0
 print(a ^ b) # two are different it will returns 1 else 0
 print(~ a) # it floats if it is 1 o/p will be 0  else 1
 print(a << b) # multiplies by 2^n
 print(a >> b) # divides by 2^n

0
15
15
-11
320
0

In [ ]:
# day-7:
# strings and their opearations
#task1: by single qoutes
str_1 = 'karthik'
str_2 = 'from ap'
str_3 = str_1 + " " + str_2
print(str_3)

karthik from ap

In [ ]:
# by double qoutes
str_1 = "karthik"
str_2 = "from ap"
str_3 = str_1 + " " + str_2
print(str_3)

karthik from ap

In [ ]:
# we have to write paragraph by using new lines
par = 'hi my name is karthik' \
'i am new to hyderabad' \
'i am from ap ' # we don't want to give \n  last line
print(par)

hi my name is karthiki am new to hyderabadi am from ap

**STRING OPERATIONS**

In [ ]:
 # string operations
 # 1. string concatination ( we use '+' symbol for concatination)
 str_1 = "karthik"
 str_2 = "from ap"
 str_3 = str_1 + " " + str_2
 print(str_3)

karthik from ap

In [ ]:
# 2. string repetion ( we use '*' symbol for repetion)
string = "karthik"
print(string * 3) # without space
print((string + " ") * 3) # for spacing  of strings in output

karthikkarthikkarthik
karthik karthik karthik

In [ ]:
# 3. string indexing ( indexing starts with 0 to n-1 from left to right)
# normal indexing
str_1 = "karthik"
print([str_1[0]])
print([str_1[1]])
print([str_1[2]])
print([str_1[3]])
print([str_1[4]])
print([str_1[5]])
# negative indexing (indexiing starts form -1 to -n from right to left)
print([str_1[-1]])
print([str_1[-2]])
print([str_1[-3]])
print([str_1[-4]])
print([str_1[-5]])
print([str_1[-6]])
print([str_1[-7]])

['k']
['a']
['r']
['t']
['h']
['i']
['k']
['i']
['h']
['t']
['r']
['a']
['k']

In [ ]:
#4.string slicing
str_1 = "karthik"
print(str_1[1:5]) # skips one charcater from starting step default value is 1
print(str_1[1:5:2]) # skips two charcater from starting step
print(str_1[::2]) # by default skips one character from starting

arth
at
krhk

BUITLT IN  METHODS IN STRING

In [ ]:
# string methods
string = "karthik"
print(len(string))  # length of the given string
print(string.upper()) # converts strings to uppercase
print(string.lower()) # converts strings to lowercase
print(string.title()) # converts first letter should be capital
print(string.capitalize()) # converts first letter should be capital
print(string.swapcase()) # converts first letter should be capital
print(max(string)) # dispalys maximum string
print(min(string)) # displays minimum string
print(ord("k"))    # displays the ascii value of k
print(chr(107))    # displays the ascii value of 107

7
KARTHIK
karthik
Karthik
Karthik
KARTHIK
t
a
107
k

In [ ]:
# day -8
# pgm to display credit cards
card = input("enter your credit card number: ")
masked = card[:12] + "####"
print(masked)

enter your credit card number: 1234567890123456
123456789012####

In [ ]:
#task 1:
adhar = input("enter your adhar number: ")
num = adhar[:8] + "####"
print(num)

enter your adhar number: 604578747360
60457874####

In [ ]:
# pgm t0 print  if the one half is equal to second half
str = input("enter a string: ")
l = len(str)
print(l/2)
first = str[:(l//2)]
second = str[(l//2) :]
print(first)
print(second)
print(first == second)

enter a string: abcab
2.5
ab
cab
False

# **LIST AND ITS OPERATIONS

In [ ]:
# list and its opertaions -- lists are mutuable enclosedd with []
#1. list concatination
lst = [1,2,3]
lst1 = [4,5,6]
new = lst + lst1
print(new)

[1, 2, 3, 4, 5, 6]

In [ ]:
#2 . list repetition
lst = [1,2,3]
print(lst * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 3. list indexing(index positions ) and slicing(start:end:step)
lst = [1,3,4,5,6,7,8,0]
print(lst[0])
print(lst[5])
print(lst[6])
print(lst[0:5])
print(lst[::6])
print(lst[1:: 3])

1
7
8
[1, 3, 4, 5, 6]
[1, 8]
[3, 6, 0]

In [ ]:
# 4.changing a element in list
lst = [10,20,30,40,45]
lst[4] = 50
print(lst)

[10, 20, 30, 40, 50]

In [ ]:
#5 .adding a new element (append(),insert(),extend())
lst = [1,2,3,4,5]
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 5.1.adding a new element by insert():
lst.insert(1,9)# here 1 is index positon and 9 is inseterd into the index
print(lst)

[1, 9, 2, 3, 4, 5, 6, 9]

In [ ]:
# 5.2. adding a new element  by extend():
lst.extend([4,5]) # adds 4,5 into the end of the list
print(lst)

[1, 9, 2, 3, 4, 5, 6, 9, 4, 5]

In [ ]:
# 6. removing an element -- remove() ,pop(),clear():
lst = [1,2,3,4,5]# -- removes 2 from the list
lst.remove(2)
print(lst)

[1, 3, 4, 5]

In [ ]:
# 6.1 by pop() -- removes 2 in the list
lst.pop(2)
print(lst)

[1, 3, 5]

In [ ]:
# 6.2 clear(): -- clears all the list
lst.clear()
print(lst)

[]

In [ ]:
#7. checking a list
lst = [10,20,40,80,90]
print(100 in lst)
print(40 in lst)
print(30 not in lst)

False
True
True

In [ ]:
# 8. get index of a number
print(lst.index(80))

3

In [ ]:
# 9.count of occurences:
lst = [1,1,2,3,4,5,6,7,1,1,3,4,7]
print(lst.count(1))

4

In [ ]:
# 10. sort in ascending
lst = [10,1,2,5,8,9,80,45,23,2,12]
lst.sort()
print(lst)
# for sorting in desc
lst.sort(reverse = True)
print(lst)
# for reversing
lst.reverse()
print(lst)

[1, 2, 2, 5, 8, 9, 10, 12, 23, 45, 80]
[80, 45, 23, 12, 10, 9, 8, 5, 2, 2, 1]
[1, 2, 2, 5, 8, 9, 10, 12, 23, 45, 80]

In [ ]:
# 11. copying a list
lst = [12,23,45]
cp = lst.copy()
print(cp)

[12, 23, 45]

# **TUPLE AND ITS OPERATIONS **

In [ ]:
# Tuple -- immutuable, ordered collection , enclosed with (),
# 1.tuple creation:
tup1 = (1,2,3,4,[5,6],'python')
print(tup1)

(1, 2, 3, 4, [5, 6], 'python')

In [ ]:
# 2. empty tuple creation:
tup2 = ()
print(tup2)

()

In [ ]:
# 3. how to take tuple input
tup3 = tuple(input("enter a tuple: "))
print(tup3)

enter a tuple: 1 2 3 5 6 [2 ,5]
('1', ' ', '2', ' ', '3', ' ', '5', ' ', '6', ' ', '[', '2', ' ', ',', '5', ']')

In [ ]:
# 4. how to take  integer values as input
int_tuple = tuple(map(int,input('int: ').split()))
print(int_tuple)

int: 1 2 3 4 5 7 8 9
(1, 2, 3, 4, 5, 7, 8, 9)

**** **OPERATIONS**

In [ ]:
# 1. tuple concatination
tup1 = (1,2,3)
tup2 = ('a','b','c')
sum = tup1 + tup2
print(sum)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
# 2 . tuple repetition
tup1 = (1,2,3) * 5
print(tup1)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# 3. tuple  indexing and slicing
tup = (1,2,3,4,5,6,7)
print(tup[0])
print(tup[5])
print(tup[-1])
print(tup[1:5])
print(tup[::2])

1
6
7
(2, 3, 4, 5)
(1, 3, 5, 7)

In [ ]:
# tuple  in  and not in
tup = (1,2,3,4,5,6)
print(5 in tup)
print(10 not in tup)

True
True

In [ ]:
# tuple unboxing:
tup = ('karthik', 'kar@gmail.com','DA' )
name , mail , batch = tup
print(name)
print(mail)
print(batch)

karthik
kar@gmail.com
DA

In [ ]:
# replacing a number in the tuple
tup = (1,[4,5],6)
tup[1][1] = 50
print(tup)

(1, [4, 50], 6)

In [ ]:
# wpgm to write login and log out time and their salary is 3000 per day and 8  working hours
logs = [9.00,15.00]
login = logs[0]
logoff = logs [1]
work = logoff - login
sal = 3000 / 8 * work
print(sal)

2250.0

In [ ]:
# pratice for login and log off by working hours and salary
logs = [10.00,22.00]
login = logs[0]
logff = logs[1]
work = logoff - login
sal = 3000 / 12* work
print(sal)

1250.0

**DICTIONARY**

In [ ]:
# dictionary - mutuable, ordered collection, key based indexing,enclosed with {}
# dict creation
dict = {'name':'karthik','age':22,'batch':'DA'}
print(dict)
print(type(dict))

{'name': 'karthik', 'age': 22, 'batch': 'DA'}
<class 'dict'>

In [ ]:
''' for empty  dict
my_dict = {}
print(my_dict)
my_dict = ()
print(my_dict)'''

{}
()

In [ ]:
'''type casting from list to dict
lst = [('a',1),('b',3),('c',5)]
d = dict(lst)
print(d)'''

"type casting from list to dict\nlst = [('a',1),('b',3),('c',5)]\nd = dict(lst)\nprint(d)"

In [ ]:
# accessing values in the dictionary
d = {'a':1,'b':2,'c':3}
print(d['a'])
print(d['b'])
print(d['c'])

1
2
3

In [ ]:
# for example restarent
menu = {'biryani':250,
        'starter': 200,
        'desert': 250
        }
print(menu)

{'biryani': 250, 'starter': 200, 'desert': 250}

In [ ]:
# for that indexing
print(menu['biryani'])
print(menu['starter'])
print(menu['desert'])

250
200
250

In [ ]:
# for adding  one values in dict
menu['drinks'] = 50
print(menu)

{'biryani': 250, 'starter': 200, 'desert': 250, 'drinks': 50}

In [ ]:
# for adding mutiple values in dict
menu.update({'juice' : 100,'tea': 20,'fish': 250})
print(menu)

{'biryani': 250, 'starter': 200, 'desert': 250, 'drinks': 50, 'juice': 100, 'tea': 20, 'fish': 250}

In [ ]:
# add mutiple
menu.update({'mutton':500,'prawns' : 400})
print(menu)
print(menu.get('mutton'))

{'biryani': 250, 'starter': 200, 'desert': 250, 'drinks': 50, 'juice': 100, 'tea': 20, 'fish': 250, 'mutton': 500, 'prawns': 400}
500

In [ ]:
# for removing -- pop(),popitem(),clear
menu.pop('biryani')
print(menu)

{'starter': 200, 'desert': 250, 'juice': 100, 'mutton': 500, 'prawns': 400}

In [ ]:
# for removing by popitem()
menu.popitem()
print(menu)

{'starter': 200, 'desert': 250, 'juice': 100, 'mutton': 500}

In [ ]:
# for removing by clear
menu.clear()
print(menu)

{}

In [ ]:
# for finding values,
menu = {'biryani':250,
        'starter': 200,
        'desert': 250
        }
print(menu.values())
print(menu.keys())
print(menu.items())

dict_values([250, 200, 250])
dict_keys(['biryani', 'starter', 'desert'])
dict_items([('biryani', 250), ('starter', 200), ('desert', 250)])

In [ ]:
'''user_input_dict = {'pens': 10, 'books': 13}
capacity = 20
total_items = sum(user_input_dict.values())

if total_items > capacity:
    print("Capacity exceeded")
else:
    print("Within capacity")'''

'user_input_dict = {\'pens\': 10, \'books\': 13}\ncapacity = 20\ntotal_items = sum(user_input_dict.values())\n\nif total_items > capacity:\n    print("Capacity exceeded")\nelse:\n    print("Within capacity")'

**SET AND ITS OPERATIONS**

In [ ]:
#set --- set is a mutuable and unordered collection and that can be enclosed within the curly brackets like {}
# defining a set
s = {1,1,78.5,True,'python',(9,0)}
print(s)
print(type(s))
#  creation of empty set
s1 = {}
print(s1)
i_set = set()
print(i_set)
print(type(i_set))
# how to take set input
s2 = set(input().split())
print(s2)
s2 = set(map(int,input().split()))
print(s2)

{1, (9, 0), 'python', 78.5}
<class 'set'>
{}
set()
<class 'set'>
{'1', '7', '2', '5', '4', '6', '3'}
1 7 2 5 4 6 3
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# built in methods in set
s = {1,2,3}
print(len(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sum(s))
print(sorted(s,reverse = True))

3
1
3
[1, 2, 3]
6
[3, 2, 1]

In [ ]:
# wpgm to find the no of different characters  present in a given string
# ex: - apple -4 , python - 6, moon-3
s = input("enter a string: ")
unique = set(s)
print(len(unique))

enter a string: apple
4

In [ ]:
# for updating set (adding-- add,update)
s = {1,2,3}
print(s)
s.add(4) # for adding a single element
print(s)
s.update([5,6,7]) # for adding a multiple elements
print(s)
# for removing elements in set (removing -- remove,discard,pop,clear)
s.remove(6) # removing specified element
print(s)
s.discard(7)
print(s)
s.pop() # removes one element
print(s)
s.clear()#removes all set
print(s)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}
set()

In [ ]:
# set operations: union,intersection,difference,symmetric difference
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}
# for union: (|,union())
print(s1 | s2) # dispalys all the elements in both sets 1 and 2
print(s1.union(s2))
# for  intersection:(&,intersection())
print(s1 & s2)
print(s1.intersection(s2))
# for difference : (-,difference())
print(s1 - s2)
print(s1.difference(s2))
# for symmetric difference : (^,symmetric_difference)
print(s1 ^ s2)
print(s1.symmetric_difference(s2))
# for subset: (<= or issubset())
print(s1 <= s2)
print(s1.issubset(s2))
# for superset: (>= or issuperset())
print(s1 >= s2)
print(s1.issuperset(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{5}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}
False
False
False
False

**conditional statements**

In [ ]:
# pgm to print cube of a number if it is divides by 3 the fourth power of a number if it is divisible by 4
# and square if it is not divisiable by any of the two'
# if statement 1:
num = int(input("enter a number: "))
if num % 3 == 0:
  print(num**3)
if num % 4 == 0:
  print(num**4)
if not (num % 3 == 0) and (num % 4 == 0):
  print(num**2)

enter a number: 45
91125

In [ ]:
# if else:
# pgm to print greater than 0 is positive and lessthan 0  is negative
number_input = int(input('enter a number: '))
if number_input > 0:
  print('positive')
else:
  print('negative')

enter a number: 5
positive

In [ ]:
# print given letter is vowel or not
letter_input_str = input('enter a letter:')
vowels = ('a','e','i','o','u')
if letter_input_str in vowels:
  print('vowel')
else:
  print('consonant')

enter a letter:l
consonant

In [ ]:
# bill with discounts
bill_input = int(input('enter amount:'))
if bill_input > 15000:
    d = 0.2 * bill_input
elif bill_input > 10000:
    d = 0.15 * bill_input
elif bill_input > 5000:
    d = 0.05 * bill_input
else:
    d = 0
total = bill_input  - d
print(total)

enter amount:25000
20000.0

**loops**

In [ ]:
''' loops -- program structure used to repeat a block of code with n no.of times
for loop - no.of iterations
while -- conditions based
syntax: if variable_name in range(n,n+1)'''
#1. print python 5 times
for i in range(1,6):
  print('python')

python
python
python
python
python

In [ ]:
# 2. #write  apgm to print python for given number of times
n = int(input('enter a number: '))
for i in range(1,n+1):
  print(i)

enter a number: 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# pgm to print a table for given input
n = int(input('enter a number:'))
for i in range(1,11):
  print(f'{n} X {i} = {n *i}')

enter a number:9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [ ]:
# pgm to print even numbers from a range
n = int(input('enter a number:'))
for i in range(n,n+1):
  if i % 2==0:
    print('even')
  else:
    print('odd')

enter a number:51
odd

In [ ]:
# pgm to count  prime for a given range
n = int(input('enter a number:'))
count = 0
for i in range(1,n+1):
  if i % 2 ==0:
    count += 1
print(count)

enter a number:17
8

In [ ]:
# pgm to prgm to check prime number or not
n = int(input('enter a number:'))
prime = 0
for i in range (1,n+1):
  if n%i ==0:
    prime += 1
if prime == 2:
    print('prime')
else:
    print('not prime')

enter a number:13
prime

In [ ]:
# pgm to print list by loop (for list)
lst = [1,2,3,4,'python',78]
for n in lst:
  print(n)
# pgm to print tuple
lst = [1,2,3,4,'python',78]
for n in lst:
  print(n)
# pgm to print set
lst = {1,2,3,4,'python',78}
for n in lst:
  print(n)

1
2
3
4
python
78
1
2
3
4
python
78
1
2
3
4
python
78

In [ ]:
# pgm to print no.of elements present in given input list without using len function
lst = [1,2,3,4,'karthik',80]
count = 0
for n in lst:
  count += 1
print(count)

6

In [ ]:
# pgm to print names whose score is greater than average score of all the given
d = {'alex':20,'bob':30,'charlie':40,'david':50}
avg = sum(d.values()) // len(d)
for  i in d:
  val = d[i]
  if val > avg:
    print(i)
# for values:
d = {'alex':20,'bob':30,'charlie':40,'david':50}
for i in d.keys():
  print(d)
# for keys
d = {'alex':20,'bob':30,'charlie':40,'david':50}
for i in d.values():
  print(i)
# for items:
d = {'alex':20,'bob':30,'charlie':40,'david':50}
for i in d.items():
  print(i)
# for this we also use unpacking:
d = {'alex':20,'bob':30,'charlie':40,'david':50}
for key,values in d.items():
  print(key)
  print(values)

charlie
david
{'alex': 20, 'bob': 30, 'charlie': 40, 'david': 50}
{'alex': 20, 'bob': 30, 'charlie': 40, 'david': 50}
{'alex': 20, 'bob': 30, 'charlie': 40, 'david': 50}
{'alex': 20, 'bob': 30, 'charlie': 40, 'david': 50}
20
30
40
50
('alex', 20)
('bob', 30)
('charlie', 40)
('david', 50)
alex
20
bob
30
charlie
40
david
50

In [ ]:
# break , continue
basket = [12,24,36,90,11,66,88]
for number in basket:
  if number % 2 ==1:
    print(number)
    break
  print(number)
print('Task Done')

12
24
36
90
11
Task Done

In [ ]:
# continue -- to skip some steps in current itearation
lst = [11,2,4,21,8,6,13]
s = 0
for n in lst:
  if n % 2 ==1: # ==1 calucualtes even, == 0 -- caluculates odd
    continue
  s += n
print(s)

20

In [ ]:
# pgm to print factorial of number
n = int(input('enter a number:'))
i = n
fact = 1
while i >= 1:
  fact *= i
  i -= 1
print(fact)

enter a number:5
120

In [ ]:
# @title
# login
pwd = 'Abc@123'
i = 0
while i <= 3:
  p = input('enter password:')
  if pwd == p:
    print("Login Successfull")
    break
  i+=1
else:
  print("please visit after some time ")

enter password:aaa
enter password:aaa
enter password:aaaa
enter password:Abc@123
Login Successfull

In [ ]:
# arm strong number
n = input('enter a number:') # Keep as string to get length and iterate
l = len(n)
total = 0
for i in n:
  total += int(i)**l
if str(total) == n:
  print('armstrong')
else:
  print('not armstrong')

enter a number:523
not armstrong

In [ ]:
# phm to print 874 = 8+7+4
n = int(input('enter a number:'))
sum = 0
while n > 0:
  last = n % 10
  sum += last
  n = n//10
print(sum)

enter a number:874
19

In [ ]:
#nested loops: -- loops inside a loop
for i in range(1,3):
  print(f'{i} th time :')
  for j in range(1,4):
    print(j)

1 th time :
1
2
3
2 th time :
1
2
3

In [ ]:
m = [[1,2],[3,4]]
sum = 0
for i in m:
    #sum = 0
    for ele in i:
        sum+= ele
    # print(s) --- used to sum row wise --(3,7)
print(sum)# sum of total --(10)

10

**pattern matching**

In [ ]:
# print the square
n = int(input('enter a number:'))
for i in range(1,n+1):
  print("* " * n)

enter a number:4
* * * *
* * * *
* * * *
* * * *

In [ ]:
# print the rectangle
l = int(input('length:'))
b = int(input('breadth:'))
for i in range(1,b+1):
  print("* " * l)

length:5
breadth:3
* * * * *
* * * * *
* * * * *

In [ ]:
# print the triangle
n = int(input("number:"))
for i in range(1,n+1):
  print("* " * i)

number:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
# print the inverted triangle
n = int(input("number:"))
for i in range(n,0,-1):
  print("*" * i)

number:6
******
*****
****
***
**
*

In [ ]:
# print the  equailateral triangle
n = int(input("side:"))
for i in range(1,n+1):
  print(" "* (n-i) + "* " * i)

side:6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
# print n = 4
n = int(input('enter side:'))
for i in range(1,n+1):
    if i == 1 or i == n:
        print("* "*n)
    else:
        print("*" + " " *(2*n-3)+"*")

enter side:4
* * * *
*     *
*     *
* * * *

In [ ]:
# rectangle
l = int(input('length:'))
b = int(input('breadth:'))
for i in range(1,b+1):
    if i == 1 or i == b:
        print("* "*l)
    else:
        print("*" + " " *(2*l-3)+"*")

length:6
breadth:2
* * * * * *
* * * * * *

In [ ]:
# to print h pattern
height = int(input('enter height:'))
width = int(input('enter width:'))
for  i in range(height):
  for j in range(width):
    if j == 0  or j == width -1 or i == height//2:
      print('*',end = '')
    else:
      print(' ',end = '')
  print()

enter height:8
enter width:6
*    *
*    *
*    *
*    *
******
*    *
*    *
*    *

In [ ]:
# to print 1 t0 n to print --1 22 333 4444
n = int(input('enter a number:'))
for i in range(1,n+1):
  print(str(i) * i)

enter a number:4
1
22
333
4444

In [ ]:
# to print -- 1,12,123,1234,12345
n = int(input('enter number:'))
s = ''
for j in range(1,i+1):
    s += str(j)
    print(s)

enter number:5
1
12
123
1234

In [ ]:
# to print a,bb,ccc,dddd
n = int(input('enter a number:'))
for i in range(1,n+1):
  print(chr(96+i) * i)

enter a number:4
a
bb
ccc
dddd

In [ ]:
# to print pyramid
n = int(input('enter a number:'))
for i in range (1,n+1):
  print(" " * (n-i) + "* " * i)
for j in range(n,0,-1):
  print(" " * (n-j)+ "* " * j)

enter a number:5
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# to print equitraingle and rectangle shape
n = int(input('enter a number:'))
for i in range(1,n+1):
  print(" " * (n-i) + "* " * i)
for j in range(1,n):
  print("* " * n)

enter a number:5
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

**ASSIGNMENT QUESTIONS**

In [ ]:
'''Sum of Digits Until Single Digit
Write a program to repeatedly add the digits of a number until the result is a single digit.
Example: 9875  9+8+7+5=29  2+9=11  1+1=2.'''
n = int(input('number:'))
while n >= 10:
  total = 0
  while n > 0:
    last = n % 10
    total += last
    n = n // 10
  n = total
print(n)

number:9875
2

In [ ]:
'''2. Rotate Digits of a Number
Given a number, rotate its digits by k places.
 Example: Input: 12345, k=2  Output: 34512.
'''
n = int(input('number:'))
while n >= 10:
  n = 0
  temp = n
  while temp > 0:
    n+= temp
    temp //= 10
  print(n)

In [ ]:
'''3. Count Continuous Vowels in a String
Find the longest sequence of continuous vowels in a given string using loops.
 Example: "helloooaei"  Longest sequence = "oooaei" of length 5.
'''
s = "helloooaei"
sequence, length = longest_vowel_sequence(s)
print(f"Longest sequence = '{sequence}' of length {length}")

In [ ]:
'''4. Find First Non-Repeating Character
Given a string, find the first character that does not repeat using only loops.
 Example: "swiss"  "w".'''
n = input('enter a string:')
for i in n:
  if n.count(i) == 1:
    print(i)
    break

In [ ]:
# pgm to print no .of characters in a given string
s = input('enter a string:')
unique = set(s)
print(unique)
print(len(unique))

enter a string:apple
{'e', 'p', 'a', 'l'}
4

***GRAND TEST 1***

In [ ]:
# pgm to print anagram number
s1 = input('enter a string:').lower()
s2 = input('enter a string:').lower()
fre = {}
for i  in s1:
  if i in fre:
    fre[i]+=1
  else:
    fre[i]=1
for i in s2:
  if i in fre:
    fre[i]-=1
    if fre[i]==0:
      fre.pop(i)
    else:
      fre[i]=1
if fre:
  print('not anagram')
else:
  print('anagram')

enter a string:listen
enter a string:silent
anagram

In [ ]:
# generate n no.of prime numbers
n = int(input('enter a number:'))
prime = []
num = 2
while len(prime) < n:
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    prime.append(num)
  num += 1
print(prime)

enter a number:5
[2, 3, 5, 7, 11]

In [ ]:
# Sum of Digits Until Single Digit
#Write a program to repeatedly add the digits of a number until the result is a single digit.
#Example: 9875  9+8+7+5=29  2+9=11  1+1=2.
n = int(input('number:'))
while n >= 10:
  total = 0
  while n > 0:
    last = n % 10
    total += last
    n = n // 10
  n = total
  print(n)

number:9875
29
11
2

In [ ]:
# inverted pyramid
n = int(input('enter a number:'))
for i in range(n,0,-1):
  print("*" * i)

enter a number:6
******
*****
****
***
**
*

In [ ]:
 # 5. Reverse Only Digits in a String
 '''2. Reverse Only Digits in a String
print(reverse_only_digits("a1b2c3"))        # Expected: "a3b2c1"'''
str = "a1b2c3"
str1 = ""
for i in range(0, len(str), 2):
    letter = str[i]
    digit = str[len(str) -1 -i]
    str1 += letter + digit
print(str1)

a3b2c1

In [ ]:
# waf to print a composite number
number = int(input('enter a number:'))
def composite (n):
  if n == 2:
    return "False"
    for i in range(2,n):
      if n % i == 0:
        return "True"
      else:
        return "False"
print(composite(number))

enter a number:9
None

**FUNCTIONS**
function -- resuable block of code to do a specific task,
def is the keyword to define a function
syntax:
def fun_name(parameter1,para2,......):
    # function body with indentation
    return value # (value out of the code)
function call -- will not run with definition, to run that block of code we have to make function call
function call -- has to be made using function name by passing values to the pareameters.these actual values are arguments
ex: fun_name(arg1,arg2,....)
key points :
> def is keyword to define a function
> parameters are variable used to pass the vaklues to the function
> return keyword is used to get values out of the function
> if we do not write any return statement,by default function returns none
> once the control reaches return, it will be the last statementsanythong written return statement will not be excuted.

In [ ]:
# waf to print product of two numbers (without return method)
def product(a,b): # a,b are parameters
  pr = a*b
  print(pr)
print("Start")
product(5,4) # here 5,4 are arguments
print("End")
product(8,5)
product(6,7)

Start
20
End
40
42

In [ ]:
# waf to print product of two numbers (with return method)
def product(a,b):
  pr = a * b
  return pr
print("Start")
print(product(5,4))
print("End")
print(product(8,5))
print(product(6,7))
print(product(60,5))

Start
20
End
40
42
300

In [ ]:
# waf to print given number is odd or even
def odd_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
print(odd_even(num))

True

In [ ]:
# waf to print greatest number
def greatest(n1,n2,n3):
  if n1 > n2 and n1 > n3:
    return n1
  elif n2 > n1 and n2 > n3:
    return n2
  else:
    return n3
print(greatest(10,20,30))

30

In [ ]:
#4. waf to check composite or not
num = int(input('number:'))
def composite(n):
    if n == 2:
        return False
    for i in range(2,n):
        if n % i == 0:
            return True
        else:
            return False
print(composite(num))

number:8
True

In [ ]:
# ways to create tables of any number is in 3 ways :
# way 1:
n = int(input('enter a number:'))
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")
# way 2: using list comphresion
lst = [1,2,3,4,5,6,7,8,9,10]
multiples = []
for i in lst:
  multiples.append(n*i)
print(multiples)
# way 3:
new_mul = [ i * 5 for i in lst]
print(new_mul)

enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# pgm to print even or odd
lst = [1,3,2,5,6,8,9,10,21]
new = []
for i in lst:
  if i % 2 == 0:
    new.append(i)
print(new)
# another way
new_lst = [i for i in lst  if i % 2 == 0]
print(new_lst)

[2, 6, 8, 10]
[2, 6, 8, 10]

**generator**

In [ ]:
## wagf that can produce infinite series of natural numbers
def fun_gen():
  i = 1
  while True:
    yield i
    i += 1
new = fun_gen()
print(next(new))
for i in range(5):
  print(next(new))

1
2
3
4
5
6

In [ ]:
# wagf that can produce factorial number
def fact_gen(n):
  i = 1
  while True:
    if i == 0:
      yield i
    else:
      yield n ** i
    i += 1
new = fact_gen(2)
print(next(new))
for i in range(5):
  print(next(new))

2
4
8
16
32
64

**EMAIL AUTOMATION PROJECT**

In [ ]:
import random
from email.message import EmailMessage
import smtplib
def generate_otp():
    otp = random.randint(1000,9999)
    return otp
def sending_mail(otp,sender_mail,sender_password,reciver_mail):
    mail = EmailMessage()
    mail['To'] = reciver_mail
    mail['Subject'] = "OTP for verification"
    body = f"Your OTP for verification is {otp}.Please enter this "
    mail.set_content(body)

    server = smtplib.SMTP('smtp.gmail.com',587)
    server.starttls()
    server.login(sender_mail,sender_password)
    server.send_message(mail)
    server.quit()

    print("OTP Sent")

def otp_verification(otp):
    uotp = int(input('enter the OTP you received:'))
    if otp == uotp:
        print("Verification Successful")
    else:
        print("Verification Failed")

otp = generate_otp()
receiver = input('enter the mail of receiver: ')
sender_mail = "gurramkarthik86@gmail.com"
sender_password = "fxus emus fenc mjvx"
sending_mail(otp,sender_mail,sender_password,receiver)
otp_verification(otp)

enter the mail of receiver: gurramkarthik68@gmail.com

SMTPRecipientsRefused: {'gurramkarthik68@gmail.com': (450, b'4.2.1 The user you are trying to contact is receiving mail at a rate that\n4.2.1 prevents additional messages from being delivered. Please resend your\n4.2.1 message at a later time. If the user is able to receive mail at that\n4.2.1 time, your message will be delivered. For more information, go to\n4.2.1  https://support.google.com/mail/?p=ReceivingRate 41be03b00d2f7-b6cf4bb9027sm4837510a12.6 - gsmtp')}

**CLASS AND OBJECTS IN OOPS**

In [ ]:
# class --- blue print of an object
# class is the keyword is used define the class
# object : -- instance of a class
class Car: # class
    def __init__(self,name,cost,company,location,id_car): # constructor
        self.name = name
        self.cost = cost
        self.company = company
        self.location = location
        self.id_car = id_car
    def display(self): # display object details
        print("Name:",self.name)
        print("Cost:",self.cost)
        print("Company:",self.company)
        print("Location:",self.location)
        print("Id:",self.id_car)
obj = Car("rolls",'500000',"royals","hyd","Ap1204") # object creation
obj.display() # calling the display method

Name: rolls
Cost: 500000
Company: royals
Location: hyd
Id: Ap1204